{% extends "layout.html" %}
{% block title %}
About us
{% endblock %}

{% block style %}
"../static/style6.css"
{% endblock %}

{% block class %}
"sub-header"
{% endblock %}

{% block name %}
<h1>About Us</h1>
{% endblock %}

{% block content %}
<section class="about-us">
  <div class="row">
    <div class="about-col">
      <h1>PSPP </h1>
      <p>is a Covid Service Centre in Mysuru that offers 24-hr emergency care and treatment across several departments,under the leadership of Medical Director.Our first and foremost focus is the patient ,and their health needs,well-being and overall satisfaction is our prime concern.We ensure that every patient leaves our hospital with a smile on their face.</p>
      <p>With the rise in COVID-19 cases,it is hard to imagine a positive start to your day. Our hospital is more concerned about COVID-19 patients.We will always be there with you.</p>
      <div class="container">
        
      </div>
      <h2><i class="fa fa-map-marker" aria-hidden="true"></i>ADDRESS : PSPP Hospital,Karnataka</h2>
      <h2><i class="fa fa-phone" aria-hidden="true"></i>CONTACT: +91-8099-8099</h2>
      <h2><i class="fa fa-asterisk" aria-hidden="true"></i><i class="fa fa-asterisk" aria-hidden="true"></i><i class="fa fa-asterisk" aria-hidden="true"></i>PIN CODE :5770001</h2>

    </div>
    <div class="about-col">
      <img src="../static/images/pexels-cottonbro-3952224.jpg" alt="">
    </div>
  </div>
</section>

{% endblock %}

